/*----------------------- MAIN section :  ------------------------*/
/*----------------------------------------------------------------*/

/* Main structure: wrapper */
#main-container {
    /* without this code, the sidebar wouldn't stretch when the main content would grow.*/
    display: flex;
}

/* Main structure: sidebars */
#sidebar-left-stickyWrapper {
    position: sticky;
    top: 0;
}

/* Account creation */
#newAccount-projRep-title {
    text-align: center;
    margin-top: 20px;
}

#newAccount-projRep-authForm-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newAccount-projRep-errorInUsername {
    margin-top: 1px;
}

#newAccount-projRep-errorInPassword {
    margin-top: 1px;
}

/* Projects content */
#projects-projRep-container {
    margin-left: 10px;
    margin-right: 10px;
}


/* Projects dashboard */
#projects-projRep-dashboardTitle {
    text-align: center;
}

#newProjectDefinition-inviteButton {
    background-color: transparent;
    border: 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

#newProjectDefinition-inviteButton:hover {
    border: solid 1px black;
    border-radius: 5px;
    max-width: -moz-fit-content;
    /* 'width: fit-content' is not supported by Firefox, Firefox for Android. (Edge dev tools) */
    max-width: fit-content;
}

/* Project definition  */

/* Form and inputs */
#newProjectDefinition-form {
    padding-right: 5px;
}

#newProjectDefinition-fieldset {
    width: 100%;
    padding-inline: 0px;
    margin-top: 20px;
}

.newProjectDefinition-inputField-container {
    /* to wrap label and input field */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: clip;

    padding-top: 20px;
    padding-inline: 5px;
}

.newProjectDefinition-inputField-label {
    width: 100%;
    /* To take into account the Nokia 8110 4G */
}

@media screen and (min-width:239px) and (max-width:320px) {
    .newProjectDefinition-inputField-label {
        width: 170px;
    }
}

#projectCountry {
    margin-left: 10px;
    /* to catch up on the selects of languages */
}

.newProjectDefinition-inputField-container select {
    width: 80%;
}

@media screen and (min-width:386px) {
    .newProjectDefinition-inputField-container select {
        width: 300px;
    }
}

.newProjectDefinition-inputField-container ul {
    padding-left: 10px;
}

.newProjectDefinition-inputField {
    box-sizing: border-box;
    /* to avoid a scrollbar in empty fields */
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 20px;
}

@media screen and (min-width:239px) and (max-width:320px) {
    .newProjectDefinition-inputField {
        width: 80%;
    }
}

#newSdgAddition-label {
    width: 100%
}

.addedLanguage-select {
    margin-top: 0;
}


[id|="delete-sdg"] {
    font-size: 26px;
    line-height: 18px;
    margin-left: 10px;
}

[id|="delete-language"] {
    font-size: 26px;
    line-height: 18px;
    margin-left: 10px;
}
