/* ---------------------- HEADER section ---------------------- */

#new-account-or-login-access{
    position:absolute;
    top:20px;
    right:20px;
    
    border:0px;
    background-color:transparent;

    font-size:15px;
    font-weight:300;
    line-height:14px;
}
        @media screen and (min-width:239px) and (max-width:500px){
            #new-account-or-login-access{
                position:absolute;
                top:10px;
                right:10px;

                border:1px solid black;

                font-size:12px;        
            }            
        }



#user-type-options-modal{
    display:block; 
    visibility:hidden;    

    position:fixed;    
    z-index:1;
    top:0;
    left:0;

    
    background-color:rgb(0,0,0); /* Fallback color */
    background-color:rgba(0,0,0,0.9); 

    width:100%;
    height:1000%;  
    
}

#user-type-options_modal-closing{
    position:absolute;        
    right:20px;
    z-index:2;
    
    color:white;
    font-size:50px;    
}


#user-type-options_modal-content{
    position:absolute;
    top:60px;
    z-index:3;    /* To account for grammarly */    
    width:100%;
    text-align:center;
}

#user-type-options_modal-content a{
    color:white;
    font-size:30px;
}

#new-account-or-login-modal{
    display:block;
    visibility:hidden;

    position:fixed;
    z-index:4; 

}

/* ---------------------- MAIN section ----------------------  */

#auth-form input{
    border-radius:5px;
}



#welcome{
    text-align: right;
    margin-right: 5px;
    padding-right: 0;

    font-size: 18px;
}