*{
    /* border:1px solid black; */
}

/* Minimum size taken into account:Nokia 8110 4G (240 x 320 pixels) */
:root{
    --header-min-height:120px;
    --main-min-height:610px;
    --nav-height:60px;
    --footer-height:60px;   
}


/* ---------------------- HEADER section ---------------------- */

#header{
    min-height:var(--header-min-height);

    display:flex;
    justify-content:center;

    border:solid 1px black;  
    background-color:white;
}

#header-title-container{
    display:flex;
    justify-content:center;   /* For the container */
    align-items:center;       /* For the items */

    margin-top:10px;
    margin-bottom:10px;
    
}

.header-title{
    font:Arial, Helvetica, sans-serif;
    font-size:30px;
}

        @media screen and (min-width:239px) and (max-width:500px){
            .header-title
            {
                font-size:19px;
            }
        }

        @media (min-width:250px) and (max-width:500px){
            .header-title
            {
                font-size:24px;
            }
        }


#home-link{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration:none;
    color:black;
}

#header-sdg-wheel{
    height:20px;    
    width:auto;   

    margin-left:-6px;
    margin-right:-6px;  
    vertical-align:-3px;    
}

        @media screen and (min-width:239px) and (max-width:249px){
            #header-sdg-wheel{
                height:10px;    
                width:auto;   

                margin-left:-4px;
                margin-right:-4px;   
                vertical-align:-1px;    
            }
        }

        @media screen and (min-width:250px) and (max-width:500px){
            #header-sdg-wheel{
                height:13px;    
                width:auto;   
        
                margin-left:-5px;
                margin-right:-5px;   
                vertical-align:-1px;                   
            }            
        }
  


/* ---------------------- NAV section ----------------------  */

#nav{
    height:var(--nav-height);  
    border:solid 1px black;    
    background-color:lightblue;
}



/* ---------------------- MAIN section ----------------------  */

#main{       
    min-height:var(--main-min-height);
    border:solid 1px black;   
    background-color:#fafad2;
}

/* ---------------------- FOOTER section ----------------------   */

#footer{
    height:var(--nav-height);
    border:solid 1px black;     
    background-color:white;
}

.footer{
    margin-top:20px;
}

.footer a{
    text-decoration:none;
}


#footer-left{
    position:absolute;
    left:30px;
}

#footer-right{
    position:absolute;
    right:30px;
}