*{
    /* border:1px solid black; */
}

/* Minimum size taken into account:Nokia 8110 4G (240 x 320 pixels) */
:root{
    --header-height:240px;
    --main-min-height:610px;
    --nav-height:60px;
    --footer-height:100px;   
}


/* ---------------------- HEADER section ---------------------- */

#header{
    height:var(--header-height);

    display:flex;    /* Necessary for the <a style="text-indent:-5000000px;"> to be taken into account */
    justify-content:center;

    border:solid 1px black;  
    background-color:white;
}

#header-title-container{
    display:flex;
    justify-content:center;   /* For the container */
    align-items:center;       /* For the items */

    margin-top:10px;
    margin-bottom:10px;
    
}

#header-title-container img {
    height:calc(80/100*var(--header-height));
    width:auto;
}


#home-link{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration:none;
    color:black;
}


/* ---------------------- NAV section ----------------------  */

#nav{
    height:var(--nav-height);  
    border:solid 1px black;    
    background-color:lightblue;
}



/* ---------------------- MAIN section ----------------------  */

#main{       
    min-height:var(--main-min-height);
    border:solid 1px black;   
    background-color:#fafad2;
}

/* ---------------------- FOOTER section ----------------------   */

#footer{
    height:var(--nav-height);
    border:solid 1px black;     
    background-color:white;
}

.footer{
    margin-top:20px;
}

.footer a{
    text-decoration:none;
}


#footer-left{
    position:absolute;
    left:30px;
}

#footer-right{
    position:absolute;
    right:30px;
}